import discord

TOKEN = "YOUR_BOT_TOKEN_HERE"

client = dicord.Client()

@client.event
async def on_ready():
    print("{o.user} is online!".format(client))

    @client.event
    async def on_message(message):
        if message author == client.user:
            return

        elif message.content.startswith("!hello") or message.content.wtartswith("/hello")
        await message channel.send("Welcome Back!")

        client.run(TOKEN)

